@model IEnumerable<TaskManagementSystem.Models.Project>

@{
    ViewBag.Title = "AllProjects";
}

@if (ViewBag.Exceeded != null)
{
    <h2>Projects Exceeded Budget</h2>
}
else
{
<div class="navigate">
    <div class="nav1">
        <button class="question" type="button"><p class="link"> @Html.ActionLink("Create New", "Create", null, new { style = "color: white;text-decoration:none" }) </p></button>
    </div>
    <div class="nav2">
        <a href="@Url.Action("Index", "Notifications", new { style = "color: white;text-decoration:none" })" style="font-size:20px">
            <i class="fa fa-bell"></i>(@ViewBag.NotificationCount)
        </a>
        <div class="question2">
            <a class="link" href="@Url.Action("UnFinishedPassedDeadline", "ProjectTasks", new { style = "color: white;text-decoration:none" })">
                UnFinished Tasks
            </a>
        </div>
    </div>
</div>
    <br />
    <a href="@Url.Action("GetProjectsExceededBudget", "Projects")">
        GetProjectsExceededBudget
    </a>
    <br />
    <a href="@Url.Action("ShowAllUsers", "Admins")">
        Show All Users
    </a>
    <br />
}
<br />
<table class="table">
    <tr>
        <th>
            Project by:
        </th>
        <th>
            Project Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectTasks)
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
    </td>
    <td>
        @Html.ActionLink(item.Name, "SortTasks", new { sortBy = "completetion", projectId = @item.Id })
    </td>
    @if (item.Priority == TaskManagementSystem.Models.Priority.Low)
    {
        <td style="color:white" })>
            <div class="tagL">@Html.DisplayFor(modelItem => item.Priority)</div>
        </td>
    }
    else if (item.Priority == TaskManagementSystem.Models.Priority.Medium)
    {
        <td style="color:white" })>
            <div class="tagM">@Html.DisplayFor(modelItem => item.Priority)</div>
        </td>
    }
    else if (item.Priority == TaskManagementSystem.Models.Priority.High)
    {
        <td style="color:white" })>
            <div class="tagH">@Html.DisplayFor(modelItem => item.Priority)</div>
        </td>
    }
    else if (item.Priority == TaskManagementSystem.Models.Priority.None)
    {
        <td style="color:white" })>
            <div class="tagN">@Html.DisplayFor(modelItem => item.Priority)</div>
        </td>
    }
    <td>
        @Html.DisplayFor(modelItem => item.Deadline)
    </td>

    <td>
        @if (item.StartDate == null)
        {<p>—</p> }
        else
        { @Html.DisplayFor(modelItem => item.StartDate)}
    </td>
    <td>
        @if (item.FinishDate == null)
        {<p>—</p> }
        else
        { @Html.DisplayFor(modelItem => item.FinishDate)}
    </td>
    <td>
        @if (item.Budget <= 0)
        {<p>—</p> }
        else
        { @Html.DisplayFor(modelItem => item.Budget)}
    </td>
    <td>
        @if (item.TotalCost <= 0)
        {<p>—</p> }
        else
        { @Html.DisplayFor(modelItem => item.TotalCost)}
    </td>

    <td>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Email")
                </th>
                <th>
                    @Html.DisplayName("ProjectName")
                </th>
                <th>
                    @Html.DisplayName("taskName")
                </th>
                <th>
                    @Html.DisplayName("CompletionPercentage")
                </th>
                <th>
                    @Html.DisplayName("Priority")
                </th>
                <th></th>
            </tr>

            @foreach (var task in item.ProjectTasks)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => task.ApplicationUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => task.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => task.Name)
            </td>
            <td class="prog">
                <div class="percentages">
                    @Html.DisplayFor(modelItem => task.CompletionPercentage)%
                </div>
                <div class="bar">
                    <progress max="100" value="@task.CompletionPercentage"></progress>
                </div>
            </td>
            @if (task.Priority == TaskManagementSystem.Models.Priority.Low)
            {
                <td style="color:white" })>
                    <div class="tagL">@Html.DisplayFor(modelItem => task.Priority)</div>
                </td>
            }
            else if (task.Priority == TaskManagementSystem.Models.Priority.Medium)
            {
                <td style="color:white" })>
                    <div class="tagM">@Html.DisplayFor(modelItem => task.Priority)</div>
                </td>
            }
            else if (task.Priority == TaskManagementSystem.Models.Priority.High)
            {
                <td style="color:white" })>
                    <div class="tagH">@Html.DisplayFor(modelItem => task.Priority)</div>
                </td>
            }
            else if (task.Priority == TaskManagementSystem.Models.Priority.None)
            {
                <td style="color:white" })>
                    <div class="tagN">@Html.DisplayFor(modelItem => task.Priority)</div>
                </td>
            }
            <td>
            @Html.ActionLink("Update Priority", "UpdatePriority", new { id = task.Id })
            <a href="@Url.Action("Edit", "ProjectTasks", new { id = task.Id })">Edit</a> |
            <a href="@Url.Action("Details", "ProjectTasks", new { id = task.Id })">Details</a> |
            <a href="@Url.Action("Delete", "ProjectTasks", new { id = task.Id })">Delete</a>
</td>
                </tr>
            }
        </table>
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }) 
    </td>
</tr>
    }
</table>





@*@model IEnumerable<TaskManagementSystem.Models.Project>

@{
    ViewBag.Title = "AllProjects";
}



@if (ViewBag.Exceeded != null)
{
    <h2>Projects Exceeded Budget</h2>
}
else
{
    <h2>All Projects</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <a href="@Url.Action("Index", "Notifications")">
        Notifications(@ViewBag.NotificationCount)
    </a>
    <br />
    <a href="@Url.Action("UnFinishedPassedDeadline", "ProjectTasks")">
        UnFinished Tasks Passed Deadline
    </a>
    <br />
    <a href="@Url.Action("GetProjectsExceededBudget", "Projects")">
        GetProjectsExceededBudget
    </a>
    <br />
    <a href="@Url.Action("ShowAllUsers", "Admins")">
        Show All Users
    </a>
    <br />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Budget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectTasks)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            </td>
            <td>
                @Html.ActionLink(item.Name, "SortTasks", new { sortBy = "completetion", projectId = @item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @if (item.StartDate == null)
                {<p>—</p> }
                else
                { @Html.DisplayFor(modelItem => item.StartDate)}
            </td>
            <td>
                @if (item.FinishDate == null)
                {<p>—</p> }
                else
                { @Html.DisplayFor(modelItem => item.FinishDate)}
            </td>
            <td>
                @if (item.Budget <= 0)
                {<p>—</p> }
                else
                { @Html.DisplayFor(modelItem => item.Budget)}
            </td>
            <td>
                @if (item.TotalCost <= 0)
                {<p>—</p> }
                else
                { @Html.DisplayFor(modelItem => item.TotalCost)}
            </td>
            <td>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayName("Email")
                        </th>
                        <th>
                            @Html.DisplayName("ProjectName")
                        </th>
                        <th>
                            @Html.DisplayName("taskName")
                        </th>
                        <th>
                            @Html.DisplayName("CompletionPercentage")
                        </th>
                        <th>
                            @Html.DisplayName("IsCompleted")
                        </th>
                        <th>
                            @Html.DisplayName("Priority")
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var task in item.ProjectTasks)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => task.ApplicationUser.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => task.Project.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => task.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => task.CompletionPercentage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => task.IsCompleted)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => task.Priority)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit", "ProjectTasks", new { id = task.Id })">Edit</a> |
                                <a href="@Url.Action("Details", "ProjectTasks", new { id = task.Id })">Details</a> |
                                <a href="@Url.Action("Delete", "ProjectTasks", new { id = task.Id })">Delete</a>
                            </td>
                        </tr>
                    }
                </table>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("SetBudget", "SetBudget", new { id = item.Id }) |
                @Html.ActionLink("Set Deadline", "SetDeadline", new { id = item.Id }) |
                @Html.ActionLink("Set Startdate", "SetStartdate", new { id = item.Id }) |
                @Html.ActionLink("Set FinishDate", "SetFinishDate", new { id = item.Id })
            </td>
        </tr>
    }
</table>*@
